body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin: 0;
}

/* Header area starts */
.header-area{
    background-color: #F0FFF0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
}
    /* Navvar area starts */
.logo{
    width: 180px;
    height: 60px;
    
}
.nav-item{
    width: 80px;
    height: 43px;
    margin: 0 10px;
    text-align: center;    
}
#navbarNav a{
    padding: 5px;   
}
.signin-button{
    background-color: #21B573;
    border: none;
    border-radius: 33px;
    width: 104px;
    height: 43px;
    color: #fff;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
}
.signin-button:hover{
    background-color: #fff;
    border: 1px solid #21B573;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
    /* Navvar area ends */

    /* Banner area starts */
.banner-area{
    margin-top: 30px;
}
.left-banner-area{
    margin-top: 60px;
}
.left-banner-area h6{
    color: #FD511A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
.left-banner-area h1{
    color: #000000;
    font-size: 48px;
    font-weight: bold;
    line-height: 70px;
}
.left-banner-area span{
    color: #21B573;
}
.left-banner-area p{
    color: #6C6B6B;
    font-size: 16px;
    font-weight: normal;
    line-height: 36px;
}
.get-started-button{
    margin-top: 30px;
    background-color: #21B573;
    color: #fff;
    width: 153px;
    height: 43px;
    border: none;
    border-radius: 33px;
}
.get-started-button:hover{
    background-color: #fff;
    border: 1px solid #21B573;
    color: #000;
    font-weight: bold;
}
.right-banner-area img{
    margin-top: 40px;
    width: 554px;
    height: 346px;
}
    /* Banner area ends */
/* Header area ends */


/* Learning area css starts  */
.title{
    height: 270px;
    width: 270px;
    background-color: #F8FFFB;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 50px;
    
}
.title img{
    width: 70px;
    height: 80px;
}
.title h4{
    color: #413960;
    font-size: 24px;
    margin-top: 45px;
}
.title p{
    color: #585859;
}
.title:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* Learning area css ends */

/* Courses area css starts */
.courses-area h2{
    margin-top: 30px;
    text-align: center;
    color: #413960;
    font-weight: bold;
    font-size: 36px;
}
.courses-area-content{
    /* width: 360px; */
    /* height: 480px; */
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.courses-image img{
    padding: 15px;
    border-radius: 11px;    
}
.courses-type{
    padding: 15px;
}
.courses-type h4{
    color: #413960;
    font-weight: 500;
    font-size: 24px;
}
.courses-type p{
    color: #585859;
    font-weight: normal;
    font-size: 16px;
}
.buy-course-button{
    width: 137px;
    height: 35px;
    background-color: #21B573;
    border-radius: 33px;
    border: none;
    color: #fff;
}
.buy-course-button:hover{
    background-color: #fff;
    border: 1px solid #21B573;
    color: #000;
    font-weight: bold;
}
.courses-footer-image{
    margin-top: 40px;
    padding: 15px 15px 30px 15px;
}
.courses-footer-image img{
    width: 24px;
    height: 24px;   
}
.courses-footer-image span{
    color: #585859;
    font-weight: 500;
    font-size: 16px;
}
/* Courses area css ends */

/* Testimonial area starts */
.testimonial-area h2{
    margin-top: 30px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 36px;
}
.testimonial-area-content img{
    padding-top: 40px;
    width: 100%;
}
.testimonial-area-content p{
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    padding-top: 50px;
}
.testimonial-area-content{
    margin-top: 80px;
    margin-bottom: 120px;
}
/* Testimonial area ends */

/* Footer area starts */
footer{
    background-color: #282531;    
}
footer:hover{
    background-color: #080808;
}
.footer-area p{
    color: #FFFFFF;
    text-align: left;
    margin-top: 50px;
}
.footer-area-details{
    margin-top: 60px;
}
.footer-area-details li{
    font-size: 16px;
    list-style: none;
    line-height: 30px;
    color: #FFFFFF;
}
#footer-bottom{
    color: #CDCDCD;
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;    
}
/* Footer area ends */